{% extends 'base.html' %} {% block content %}
<form method="post" class="buttons">
  <h3>ATENCIÓN CHAT PITAP</h3>
  <div>
    <label>Usuario:</label>
    <input
      type="text"
      placeholder="usuario"
      name="name"
      value="{{name}}"
    />
  </div>
  <div class="join">
    <input type="text" placeholder="Room Code" name="code" value="{{code}}" />
    <button type="submit" name="join">Ingresar a la sala</button>
  </div>
  <button type="submit" name="create" class="create-btn">Crea una sala</button>
  {% if error %}
  <ul>
    <li>{{error}}</li>
  </ul>
  {% endif %}
</form>
{% endblock %}